In [30]:
print("hello world")

hello world

print is the built in function which prints content inside parenthases 
"hello world" string as enclosed by ""

Variables are the reserved memory loctaion to store the value
we declear a identifer then equals sign then the value we want for our variable

In [31]:
# adding two numbers 
a = 6
b = 7
sum = (a+b)
print("sum of two number is", sum)

sum of two number is 13

Rules for declearing variable
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters andunderscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are threedifferent variables)

In [32]:
#swap two numbers
a= 5
b=3
c=b
b=a
a=c
print("a=",a)
print("b=",b)

a= 3
b= 5

In [33]:
#swapping without introducing new variables using addition and substraction
a=7
b=8
a= a+b
b= a-b
a= a-b
print("a=",a)
print("b=",b)

a= 8
b= 7

In [34]:
#swapping using multiplication and division
a=7
b= 8
a= a*b
b=a/b
a= a/b
print("a=",a)
print("b=",b)

a= 8.0
b= 7.0

In [35]:
#swapping using construct
a=7
b=8
a,b = b,a
print("a=",a)
print("b=",b)

a= 8
b= 7

In [36]:
x = "samidha"
f=g=89
a,b,c="bmw","royce","lambargini"
print("my name is "+ x)
print(a)
print(a+b)
print(f+g)

my name is samidha
bmw
bmwroyce
178

user Input

In [39]:
#taking input from the user
x = input("what is your name")
print(type(x))

what is your namesamidha
<class 'str'>

In [40]:
#finding the type of the input
x = int(input("enter anything"))
print(type(x))

enter anything10
<class 'int'>

In [41]:
#multiplying two number
x= float(input("enter first number"))
y=float(input("enter the second  number"))
c= x * y
print(c)

enter first number66
enter the second  number99
6534.0

In [42]:
#conintverting gram to kilogram
x = int(input("enter the number"))
km= x*1000
print(x ,"gram was converted to" ,km )

enter the number66
66 gram was converted to 66000

In [ ]:
#finding out if the number is prime or composite
#y = int(input("Enter the number"))
#if (y>1):
    #for()

Data Types in Python
1.none
2.numeric
3.string 
4.list
5.tuple 
6.set
7.dictonary

In [43]:
#none
b = None
print(type(b))

<class 'NoneType'>

In [44]:
#numeric
a=3
b=4.6
c=complex =5+3j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

TypeCasting : process of converting one data type to another

In [45]:
a=int(3.4)
b=float(3)
c=hex(115)
print(a)
print(b)
print(c)

3
3.0
0x73

String: Created by adding single or double quote.
Triple quotes string are useful when the content of the string literal span multiple line of codes.

In [46]:
flight = 'Have a safe journey'
aeroplane_mode ="Please turn your mobile in aeroplane mode"
print(flight)
print(aeroplane_mode)

Have a safe journey
Please turn your mobile in aeroplane mode

In [47]:
#invalid syntax
fligh = 'I'll go by air'
print(flight)

SyntaxError: invalid syntax (4291854937.py, line 2)

In [48]:
flight1= "I'll go by air"
print(flight1)
flight2 = 'I will go by "air"' 
print(flight2)

I'll go by air
I will go by "air"

In [49]:
#triple
email ='''
Dear sir,
I am a student of BEIT
I will like to join your team

'''
print(email)

Dear sir,
I am a student of BEIT
I will like to join your team

Slicing [] operator can be used with string.
String are stored as character and indexed by integer.
Slicing helps in extarction of single character.

In [50]:
weather = 'cold'
print(weather[3])

d

 P   Y   T   H   O    N
 0   1   2   3   4    5
-6 -5  -4   -3  -2   -1

In [51]:
p ='Python'
y = p[2:5]
z = p[-4:-2]
print(y)
print(z)

tho
th

Staring is always included and ending is always excluded.

CONCATINATION

In [52]:
a = "I love"
b = " python "
print(a + b)

I love python

In [53]:
a = "25"
b = int(a)
print( 45 + b)

70

In [54]:
#type casting
c = 20
d = str(c)
e = repr(c)
print(type(d))
print(type(e))

<class 'str'>
<class 'str'>

In [55]:
#formatted string 
first_name ="Binda"
last_name ="Bhandari"
msg = f'{first_name} {last_name} is an AI expert'
print(msg)

Binda Bhandari is an AI expert

In [56]:
c = "python"
print(c.capitalize())
print(c.casefold())
print(c.count('y'))
print(c.endswith('n'))
print(c.find('o'))

Python
python
1
True
4

In [57]:
#reverse a string
a= input("Enter a string")
print(a[::-1])

Enter a stringshajja
ajjahs

List

In [58]:
a = [1,2.2,"python"]
print(a)
print(a[1])

[1, 2.2, 'python']
2.2

In [59]:
#order
s =[5,6,7,8]
print("The fourth value --->", s[3])

The fourth value ---> 8

In [60]:
#slicing
a = ["sam",'b',3,4,6,'w']
print(a[0:5])
print(a[-6:-1])

['sam', 'b', 3, 4, 6]
['sam', 'b', 3, 4, 6]

In [61]:
a = ["sam",'b',3,4,6,'w']
print("Original List--->",a)
a[-2] = "cally"
print("New List----->",a)

Original List---> ['sam', 'b', 3, 4, 6, 'w']
New List-----> ['sam', 'b', 3, 4, 'cally', 'w']

In [ ]:
#some method
a.append(1)
print(a)

a.insert(3,4.6)
print(a)

2D List

In [64]:
a=[1,2,3]
b=[4,5,7]
c=[8,9,10]
matrix=[a,b,c]
matrix= [
[1,2,3],
[4,5,7],
[8,9,10]
    ]
print("Accessing first row:", matrix[0])
    
print("Accessing first row:", matrix[0][1])

Accessing first row: [1, 2, 3]
Accessing first row: 2